@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.btnPink {
  @apply py-4 px-4;
}

.btnPink {
  @apply bg-accent;
}

@theme {
  --color-base: #f5f1ed;
  --color-accent: #eec4c4;
  --color-text: #333333;
}
